.photo{
    border: 2px solid orangered;
}
.photo:hover{
    border: 2px solid orangered;
}
.photo img{
    width: 100%;
    height: auto;
}
.des{
    text-align: center;
    padding: 15px;
}